{% extends "base.html" %} {% block content %}
<p class="container text-center">
  <h1 class="display-2">Report for {{ docname }}</h1>
  <p class="box">
    <h1 class="display-5">Document Content Categories</h1>
    <div class="row">
      {% for item in content %}
      <div class="col-lg-4">{{ item|safe }}</div>
      {% endfor %}
    </div>
      <h1 class="display-5">Sentiment Analysis</h1>

        <h2 class="display-7">Overall Sentiment Score: {{nlpScore}}</h2>
        <h2 class="display-7">Most Positive Paragraph Score: {{mpScore}}</h2>
        <h2 class="display-7"> Most Positive Paragraph Text</h2>
          <p>{{mpText}}</p>
        <h2 class="display-7">Most Negative Paragraph Score: {{mnScore}}</h2>
        <h2 class="display-7">Most Negative Paragraph Text</h2>
        <p>{{mnText}}</p>
      <h1 class="display-5">Entities Extracted</h1>
          <h2 class="display-7">Top 5 Entities</h2>
          {% for item in entities %}
            <h3 class="display-9">{{ item[0]|safe }} is mentioned in {{ item[1]|safe }} paragraphs </h3>
              <h4 class="display-9">Links to News Articles for {{ item[0]|safe }}</h4>
                {% for mylink in links.get(item[0]) %}
                  <div class="field"> Summary: {{ mylink.get("Summary") |safe }}</div>
                  <a href={{mylink.get("URL")}}> {{ mylink.get("URL") |safe }}</a>
                {% endfor %}
          {% endfor %}
      <h1 class="display-5">Full Text Breakdown</h1>
      {% for item in pars %}
      <h4 class="display-9">Paragraph Number: {{item.get("NUM")}} </h4>
      <h4 class="display-9">Sentiment Score: {{item.get("SCORE")}} </h4>
      <h4 class="display-9">Full Text </h4>
      <p>{{item.get("TEXT")}}</p>
      {% endfor %}

  </div>
</div>
{% endblock %}