{% extends "base.html" %} {% block content %}
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
  {% endif %} {% endwith %}
  <h1 class="display-4 text-center">Search Results in all documents for keywords: {{ keywords }}</h1>
    {% for item in results %}
    <div class="card">
      <div class="card-header">Document: {{item.get("Title")}}</div>
        {% for par in item.get("Paragraphs") %}
            <div class="card-body">Paragraph: {{ par[0]|safe }} </div>
            <div class="card-body">{{ par[1]|safe }} </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}