<!-- templates/upload.html -->

{% extends "base.html" %} {% block content %}
<div class="conatiner mx-auto text-center" style="width: 500px">
  <h1 class="display-5">File Uploader</h1>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
  {% endif %} {% endwith %}
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="input-group mb-3">
      <input type="file" name="file" class="form-control" id="fileUpload" />
      <button class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
